NODEFLOW.txt
[{"id":"e6cc5efe.a5bbf8","type":"ibmiot","z":"641af321.ec1f44","name":"Watson IoT"},{"id":"6ef1e941.ea0b4","type":"ibmiot in","z":"641af321.ec1f44","authentication":"apiKey","apiKey":"e6cc5efe.a5bbf8","inputType":"evt","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","applicationId":"","deviceType":"mbed-endpoint","eventType":"notify","commandType":"","format":"json","name":"accelerometer observations","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":243.33331298828125,"y":205.72183227539062,"wires":[["33182718.6a07d"]]},{"id":"a9158cfc.5f0ab","type":"ibmiot out","z":"641af321.ec1f44","authentication":"apiKey","apiKey":"e6cc5efe.a5bbf8","outputType":"cmd","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","deviceType":"mbed-endpoint","eventCommandType":"put","format":"json","data":"0","name":"set LED command (PUT)","service":"registered","x":724.384521484375,"y":104.0750503540039,"wires":[]},{"id":"3f63fff7.33856","type":"template","z":"641af321.ec1f44","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":490.07952880859375,"y":131.2578887939453,"wires":[["a9158cfc.5f0ab"]]},{"id":"15119e8e.2e2719","type":"template","z":"641af321.ec1f44","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":488.1151123046875,"y":78.40074157714844,"wires":[["a9158cfc.5f0ab"]]},{"id":"1f78f3cc.397104","type":"debug","z":"641af321.ec1f44","name":"","active":true,"console":"false","complete":"value","x":968.7142333984375,"y":206.28561401367188,"wires":[]},{"id":"5cd2953b.9bc004","type":"inject","z":"641af321.ec1f44","name":"Turn LED ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":223.2340087890625,"y":131.7935333251953,"wires":[["3f63fff7.33856"]]},{"id":"cf4322d3.01aea8","type":"inject","z":"641af321.ec1f44","name":"Turn LED OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":221.6468505859375,"y":77.77777099609375,"wires":[["15119e8e.2e2719"]]},{"id":"4547b6ac.044ae8","type":"function","z":"641af321.ec1f44","name":"Base64DecodeToValueJSON","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj};","outputs":1,"noerr":0,"x":744.222412109375,"y":205.44442749023438,"wires":[["1f78f3cc.397104"]]},{"id":"33182718.6a07d","type":"switch","z":"641af321.ec1f44","name":"Is Accel Telemetry?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/888/0/7700","vt":"str"}],"checkall":"true","outputs":1,"x":498.1112060546875,"y":205.44442749023438,"wires":[["4547b6ac.044ae8"]]}]
