NODEFLOW.txt
[{"id":"e6cc5efe.a5bbf8","type":"ibmiot","z":"641af321.ec1f44","name":"Watson IoT"},{"id":"6ef1e941.ea0b4","type":"ibmiot in","z":"641af321.ec1f44","authentication":"apiKey","apiKey":"e6cc5efe.a5bbf8","inputType":"evt","deviceId":"MBED_ENDPOINT_GOES_HERE","applicationId":"","deviceType":"mbed-endpoint","eventType":"observation","commandType":"","format":"json","name":"accelerometer observations","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":243.33331298828125,"y":205.72183227539062,"wires":[["1f78f3cc.397104"]]},{"id":"a9158cfc.5f0ab","type":"ibmiot out","z":"641af321.ec1f44","authentication":"apiKey","apiKey":"e6cc5efe.a5bbf8","outputType":"cmd","deviceId":"MBED_ENDPOINT_GOES_HERE","deviceType":"mbed-endpoint","eventCommandType":"put","format":"json","data":"0","name":"set LED command (PUT)","service":"registered","x":724.384521484375,"y":104.0750503540039,"wires":[]},{"id":"3f63fff7.33856","type":"template","z":"641af321.ec1f44","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_GOES_HERE\", \"method\":\"PUT\" }","x":490.07952880859375,"y":131.2578887939453,"wires":[["a9158cfc.5f0ab"]]},{"id":"15119e8e.2e2719","type":"template","z":"641af321.ec1f44","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_GOES_HERE\", \"method\":\"PUT\" }","x":488.1151123046875,"y":78.40074157714844,"wires":[["a9158cfc.5f0ab"]]},{"id":"1f78f3cc.397104","type":"debug","z":"641af321.ec1f44","name":"","active":true,"console":"false","complete":"payload.d.value","x":721.269775390625,"y":204.28567504882812,"wires":[]},{"id":"5cd2953b.9bc004","type":"inject","z":"641af321.ec1f44","name":"Turn LED ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":223.2340087890625,"y":131.7935333251953,"wires":[["3f63fff7.33856"]]},{"id":"cf4322d3.01aea8","type":"inject","z":"641af321.ec1f44","name":"Turn LED OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":221.6468505859375,"y":77.77777099609375,"wires":[["15119e8e.2e2719"]]}]
