NODEFLOW.txt
[{"id":"7520ee32.519af","type":"ibmiot in","z":"a32d2578.4962f","authentication":"apiKey","apiKey":"d68887fe.019a1","inputType":"evt","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","applicationId":"","deviceType":"mbed-endpoint","eventType":"notify","commandType":"","format":"json","name":"accelerometer observations","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":217,"y":189.94406127929688,"wires":[["a2a5ad76.e870c8"]]},{"id":"9f107928.63f61","type":"ibmiot out","z":"a32d2578.4962f","authentication":"apiKey","apiKey":"d68887fe.019a1","outputType":"cmd","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","deviceType":"mbed-endpoint","eventCommandType":"PUT","format":"json","data":"0","qos":"0","name":"set LED command (PUT)","service":"registered","x":698.0512084960938,"y":88.29727935791016,"wires":[]},{"id":"e3236b4.f5fdd98","type":"template","z":"a32d2578.4962f","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":463.7462158203125,"y":115.48011779785156,"wires":[["9f107928.63f61"]]},{"id":"2dbb18d.6c0af68","type":"template","z":"a32d2578.4962f","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":461.78179931640625,"y":62.62297058105469,"wires":[["9f107928.63f61"]]},{"id":"9c80a1b9.28941","type":"debug","z":"a32d2578.4962f","name":"","active":true,"console":"false","complete":"value","x":942.380859375,"y":189.50784301757812,"wires":[]},{"id":"9fe3d583.76b608","type":"inject","z":"a32d2578.4962f","name":"Turn LED ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":196.90069580078125,"y":116.01576232910156,"wires":[["e3236b4.f5fdd98"]]},{"id":"e7e7aa0f.ad54a","type":"inject","z":"a32d2578.4962f","name":"Turn LED OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":195.31353759765625,"y":62,"wires":[["2dbb18d.6c0af68"]]},{"id":"927437b7.6d03d","type":"function","z":"a32d2578.4962f","name":"Base64DecodeToValueJSON","func":"var Base64 = {\n    _keyStr: \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",\n    encode: function(e) {\n        var t = \"\";\n        var n, r, i, s, o, u, a;\n        var f = 0;\n        e = Base64._utf8_encode(e);\n        while (f < e.length) {\n            n = e.charCodeAt(f++);\n            r = e.charCodeAt(f++);\n            i = e.charCodeAt(f++);\n            s = n >> 2;\n            o = (n & 3) << 4 | r >> 4;\n            u = (r & 15) << 2 | i >> 6;\n            a = i & 63;\n            if (isNaN(r)) {\n                u = a = 64\n            } else if (isNaN(i)) {\n                a = 64\n            }\n            t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)\n        }\n        return t\n    },\n    decode: function(e) {\n        var t = \"\";\n        var n, r, i;\n        var s, o, u, a;\n        var f = 0;\n        e = e.replace(/[^A-Za-z0-9+/=]/g, \"\");\n        while (f < e.length) {\n            s = this._keyStr.indexOf(e.charAt(f++));\n            o = this._keyStr.indexOf(e.charAt(f++));\n            u = this._keyStr.indexOf(e.charAt(f++));\n            a = this._keyStr.indexOf(e.charAt(f++));\n            n = s << 2 | o >> 4;\n            r = (o & 15) << 4 | u >> 2;\n            i = (u & 3) << 6 | a;\n            t = t + String.fromCharCode(n);\n            if (u != 64) {\n                t = t + String.fromCharCode(r)\n            }\n            if (a != 64) {\n                t = t + String.fromCharCode(i)\n            }\n        }\n        t = Base64._utf8_decode(t);\n        return t\n    },\n    _utf8_encode: function(e) {\n        e = e.replace(/rn/g, \"n\");\n        var t = \"\";\n        for (var n = 0; n < e.length; n++) {\n            var r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r)\n            } else if (r > 127 && r < 2048) {\n                t += String.fromCharCode(r >> 6 | 192);\n                t += String.fromCharCode(r & 63 | 128)\n            } else {\n                t += String.fromCharCode(r >> 12 | 224);\n                t += String.fromCharCode(r >> 6 & 63 | 128);\n                t += String.fromCharCode(r & 63 | 128)\n            }\n        }\n        return t\n    },\n    _utf8_decode: function(e) {\n        var t = \"\";\n        var n = 0;\n        var r, c2;\n        while (n < e.length) {\n            r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n                n++\n            } else if (r > 191 && r < 224) {\n                c2 = e.charCodeAt(n + 1);\n                t += String.fromCharCode((r & 31) << 6 | c2 & 63);\n                n += 2\n            } else {\n                c2 = e.charCodeAt(n + 1);\n                c3 = e.charCodeAt(n + 2);\n                t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);\n                n += 3\n            }\n        }\n        return t\n    }\n};\n\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj};","outputs":1,"noerr":0,"x":717.8890991210938,"y":189.66665649414062,"wires":[["9c80a1b9.28941"]]},{"id":"a2a5ad76.e870c8","type":"switch","z":"a32d2578.4962f","name":"Is Accel Telemetry?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/888/0/7700","vt":"str"}],"checkall":"true","outputs":1,"x":471.77789306640625,"y":189.66665649414062,"wires":[["927437b7.6d03d"]]},{"id":"d68887fe.019a1","type":"ibmiot","z":"a32d2578.4962f","name":"My Watson IoT Instance","keepalive":"60","cleansession":true}]
